*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
.main-container{
  width: 600px;
  height: 600px;
  border: 3px solid rgb(122, 122, 238);
  background-color: white;
  margin:0  30px;
}
.container {
  height: 300px;
  width: 500px;
  margin: auto 53px;
  padding: 2px;
  background-color: rgb(241, 213, 213);
  color: rgb(128, 69, 27);
  border-radius: 20px;
} 
h3, p  {
  margin-left: 10px;
}
img {
height: 190px;
width:300px;
margin: 40px;
border-radius: 4px;
outline: none;
}

 .form {
  margin: auto 65px;
   }

   .form input {
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(74, 74, 146);
    width: 430px;
    height: 10px;
   }
 
 button {
  background-color: blue;
  color: #fff;
  border: none;
  margin: auto -55px;
  width: 500px;
  height: 50px;
  border-radius: 5px;
  padding: 1rem 0;
  font-size: 1.2rem;
}

 footer {
  color: rgb(74, 74, 146);
  padding: 0%;
  font-size: 22px;
  margin:auto 40px;
  
 }
 footer a {
  text-decoration: none;
 }
 
